.splash{
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50;
  height: 95%;
  width: 95%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255);
  transition: all ease-in-out 500ms;
}
.hidden{
  transition: 0.5s;
  display: none;
}
.splash-header{
  height: 90%;
  color: black;
  font-family: sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
